<div class="container">
  <!-- ユーザーとのルーム -->
  <% @entries.each do |e| %>
    <% unless e.user == current_user %>
      <div class="row mt-4">
        <div class="col-lg-12">
          <h4><strong><%= e.user.name %>さんとのルーム</strong></h4>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- 戻るボタン -->
  <div class="row">
    <div class="col-lg-12">
      <div class="left-button">
        <%= link_to "ユーザー詳細に戻る", user_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <hr>

  <!-- ルームセクション -->
  <div class="chat">
    <div class="chats">
      <% if @messages.present? %>
        <div class="row">
          <div class="col-lg-6">
            <div style="text-align: left">
              <% @entries.each do |e| %>
                <% unless e.user == current_user %>
                  <h4><strong><%= e.user.name %>さん</strong></h4>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6">  
            <div style="text-align: right;">
              <h4><strong><%= current_user.name %>さん</strong></h4>
            </div>  
          </div>  
        </div>
                      
        <% @messages.each do |m| %>
          <div class="row">
            <div class="col-lg-12">
              <% if m.user_id == current_user.id %>
                <!-- 自分のメッセージ -->           
                <div class="chat-fukidashi" style="text-align: right;">
                  <strong><%= m.content %></strong>
                </div>
              <% else %>
                <!-- 他ユーザーのメッセージ -->
                <div class="chat-fukidashi" style="text-align: left;">
                  <strong><%= m.content %></strong>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- エラーメッセージ表示 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="errors">
        </div>
      </div>
    </div>

    <!-- メッセージ投稿フォーム -->
    <div class="row">
      <div class="col-lg-12">
        <div class="posts">
          <%= form_with model: @message, url: room_messages_path(@room), local: false do |f| %>
            <%= f.text_field :content, class: "form-control", placeholder: "140字以内でメッセージを入力してください" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "新規メッセージ", class: "btn btn-success mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>