<% if user_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true, class: "search-form" do |f| %>
    <div class="row d-flex align-items-center">
      <%= f.text_field :content, class: "mr-2"%>
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <%= f.select :model, options_for_select({"ユーザー" => "user", "投稿" => "post"}), {}, class: "form-select" %>
        </div>
        <div class="col-auto">
          <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}), {}, class: "form-select" %>
        </div>
        <div class="col-auto">
          <%= button_tag type: "submit", class: "btn btn-light d-flex align-items-center mr-5" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>検索</span>
          <% end %>
        </div>
      </div>
    </div> 
  <% end %> 
<% end %>