<div class="container">
  <div class="row" style="margin: 20px;">
    <div class="col-lg-12">
      <h4><strong>いいねされている投稿一覧</strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10%;">いいねID</th>
            <th style="width: 10%;">投稿ID</th>
            <th style="width: 10%;">名前</th>
            <th style="width: 15%;">日付</th>
            <th style="width: 13%;">内容</th>
            <th style="width: 10%;">金額</th>
            <th style="width: 10%;">項目</th>
            <th style="width: 12%;">コメント数</th>
            <th style="width: 10%;">いいね数</th>            
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
            <% post = favorite.post %>
            <tr>
              <td><%= favorite.id %></td>
              <td><%= post.id %></td>
              <td class="name" style="word-break: break-word;"><%= link_to post.user.name, admin_user_path(post.user) %></td>
              <td><%= post.created_at.strftime("%Y年%m月%d日") %></td>
              <td class="content" style="word-break: break-word;"><%= link_to post.content, admin_post_path(post) %></td>
              <td class="price" style="word-break: break-word;">
                <% price = post.category == "expense" ? "-#{post.price}" : post.price %>
                <%= number_to_currency(price, delimiter: ",") %>
              </td>
              <td><%= post.item.name %></td>
              <td><%= post.post_comments.count %></td>
              <td id="favorite_btn_<%= post.id %>">
                <%= render "admin/favorites/btn", post: post %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <%= paginate @favorites %>
    </div>
  </div>
</div>
   