<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex flex-wrap w-100 justify-content-between">
          <%# ユーザーログイン時のヘッダー %>
          <% if user_signed_in? && !admin_signed_in? %>
            <li>
              <%= link_to root_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-house fa-spin-pulse"></i> ホーム
              <% end %>
            </li>  
            <li>
              <%= link_to mypage_path, class:"nav-link text-light" do%>                     
                <i class="fa-regular fa-user fa-spin fa-spin-reverse"></i> マイページ
              <% end %>  
            </li>             
            <li>
              <%= link_to posts_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-pen fa-shake"></i> 投稿一覧
              <% end %>  
            </li>             
            <li>
              <%= link_to users_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-users fa-spin"></i> ユーザー一覧
              <% end %> 
            </li> 
            <li>
              <%= link_to user_favorites_path(current_user), class:"nav-link text-light" do%>
                <i class="fa-solid fa-thumbs-up fa-bounce"></i> いいね一覧
              <% end %>  
            </li> 
            <li>
              <%= link_to new_post_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-pen-nib fa-flip"></i> 新規投稿
              <% end %>    
            </li>
            <li class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                通知
                <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if current_user.notifications.where(read: false).any? %>
                  <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                  <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                    <% message = notification_message(notification) %>
                    <% if message.include?("管理者") %>
                      <span class="dropdown-item disabled"><%= message %></span>
                      <% notification.update(read: true) %>
                    <% else %>
                      <%= link_to message, notification_path(notification), method: :patch, class: "dropdown-item" %>
                    <% end %>
                  <% end %>
                <% else %>
                  <span class="dropdown-item disabled">未読の通知はありません</span>
                <% end %>
              </div>
            </li>
                       
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do%>
                <i class="fa-solid fa-right-from-bracket fa-beat-fade"></i> ログアウト
              <% end %>
            </li> 
            <div class="d-flex align-items-center ml-auto">
              <%# 検索フォーム %>
              <%= render 'public/searches/form' %>

              <%# 項目絞り込み検索フォーム %>
              <%= form_with(url: filter_path, method: :get, local: true, class: "d-flex align-items-center") do %>
                <%= select_tag :item_id, options_from_collection_for_select(Item.all, :id, :name, params[:item_id]), include_blank: "すべて", class: "mr-2" %>
                <%= button_tag type: "submit", class: "btn btn-light" do %>
                  <i class="fa-solid fa-filter"></i> 絞り込む
                <% end %>               
              <% end %>
            </div>
        
          <%# 管理者ログイン時のヘッダー %>
          <% elsif admin_signed_in? %>          
            <li>
              <%= link_to root_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-house fa-spin-pulse"></i> ホーム
              <% end %>
            </li>    
            <li>
              <%= link_to admin_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-pen fa-shake"></i> 投稿一覧
              <% end %>  
            </li>                       
            <li>
              <%= link_to admin_users_path(host_id: current_admin.id), class:"nav-link text-light" do%>
                <i class="fa-solid fa-users fa-spin"></i> ユーザー一覧
              <% end %>
            </li> 
            <li>
              <%= link_to admin_favorites_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-thumbs-up fa-bounce"></i> いいね一覧
              <% end %>
            </li> 
            <li>
              <%= link_to admin_rooms_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-person-shelter fa-beat"></i> ルーム一覧
              <% end %>  
            </li>            
            <li>
              <%= link_to admin_items_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-list fa-fade"></i> 項目一覧・新規追加
              <% end %>  
            </li>             
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do%>            
                <i class="fa-solid fa-right-from-bracket fa-beat-fade"></i> ログアウト
              <% end %>  
            </li> 
            <div class="d-flex align-items-center ml-auto">
              <%# 検索フォーム %>
              <%= render 'admin/searches/form' %>

              <%# 項目絞り込み検索フォーム %>
              <%= form_with(url: admin_filter_path, method: :get, local: true, class: "d-flex align-items-center") do %>
                <%= select_tag :item_id, options_from_collection_for_select(Item.all, :id, :name, params[:item_id]), include_blank: "すべて", class: "mr-2" %>
                <%= button_tag type: "submit", class: "btn btn-light" do %>
                  <i class="fa-solid fa-filter"></i> 絞り込む
                <% end %>               
              <% end %>
            </div>

          <%# ユーザー非ログイン時のヘッダー %>
          <% else %>
            <li>
              <%= link_to root_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-house fa-spin-pulse"></i> ホーム
              <% end %>
            </li>
            <li>
              <%= link_to about_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-info fa-bounce"></i>  アバウト
              <% end %>
            </li>
            <li>
              <%= link_to posts_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-pen fa-shake"></i> 投稿一覧
              <% end %>  
            </li>
            <li>
              <%= link_to new_user_registration_path, class:"nav-link text-light" do%>
                <i class="fa-solid fa-user-plus fa-beat"></i> 新規登録
              <% end %>
            </li>             
            <li>
              <%= link_to new_user_session_path, class:"nav-link text-light" do%>              
                <i class="fa-solid fa-right-to-bracket fa-beat-fade"></i> ログイン
              <% end %>
            </li> 
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>